body,html {
    margin: 0px;
    padding: 0px;
    background-color:black;
    font-family: 'Roboto', sans-serif;
}

.left{
    width: fit-content;
    margin-left: 2px;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: green;
}

.left-message{
    width: fit-content;
    margin-left: 10px;
    margin-right:10px;
    border-style: solid;
    border-width: 1px;
    border-radius:5px;
    color: white;
    padding: 10px;
    background-color:green;
}

.right{
    margin-left:auto;
    width: fit-content;
    margin-right: 2px;
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: blue;
}
.right-message{
    width: fit-content;
    margin-left: 10px;
    margin-right:10px;
    border-style: solid;
    border-width: 1px;
    border-radius:5px;
    color: white;
    padding: 10px;
    background-color:blue;
}

.right-message img{
    width:100%;
    display:block;
}