body,html {
    margin: 0px;
    padding: 0px;
    background-color:black;
    font-family: 'Roboto', sans-serif;
}
html {
    -webkit-text-size-adjust: 100%;
    }

#messages {
    position:fixed;
    height:90%;
    top:0px;
    left:0px;
    right:0px;
    overflow-y:scroll;
}

#input{
    position:fixed;
    height:10%;
    bottom: 0px;
    left:0px;
    right: 0px;
    background-color: #1a1a1a;
}

.left{
    margin-left: 2px;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #9a9a9a;
}

.left-message{
    width: fit-content;
    margin-left: 10px;
    margin-right:10px;
    border-style: solid;
    border-width: 1px;
    border-radius:5px;
    border-color: white;
    padding: 10px;
    background-color: #9a9a9a;
    color: black;
}

.right{
    margin-right: 2px;
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: #01998c;
}

.right-message{
    width: fit-content;
    margin-left: auto;
    margin-right:10px;
    border-style: solid;
    border-width: 1px;
    border-radius:5px;
    color: white;
    padding: 10px;
    background-color: #01998c;
}

.right-message img{
    max-width:100%;
    height: auto;
    display:block;
}

@media only screen and (max-width: 768px) {
    .right-message {
      max-width: 75%;
    }
    
    .left-message {
        max-width: 75%;
    }
}
